<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <hr>
        <h1>Welcome to our website...</h1>
        <p>My Name Is : {{name}} And I am From {{address}} </p>
    </body>
</html>