<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}

        <form>
            <input type="text"  id="txtLocation" placeholder="Enter Location..">
            <button id="btnSubmit" style="cursor:pointer">Submit</button>
        </form>

<script src="/js/practice.js"></script>
    </body>
</html>